<%
 const moviesTemp = [...movies]
%>
<%- include('./partials/header.ejs', {title: "AllMoviesHub - 300mb Movies, 480p Movies, 720p Movies, Hindi Dubbed Series, 1080p Movies, Tv series download, Hubflix, Hubflixhd, Thehubflix, Hdmovieshub, Hdmovieshub.in, Hdmovieshub 300mb, Allmovieshub, Mkvhub, dailydrivelink, moviesflix, hdmoviearea",description: "Download 300mb Movies, 480p Movies, 720p Movies, AllHDMovies &amp; Latest Netflix, Cw and lots more TV Series in Dual Audio (English and Hindi) available in Google Drive Link.", keywords: "allmovieshub, hdmovieshub, vegamovies, moviesflix, movies4u, allmoviehub, hdmovivehub, all movie hub com, all movies hub com, hd movies hub 300, hdmovieshub.in 2022, hub hd movies, hdmovieshub.in 2023, movie hub 300,    movies hub 300, hdmovieshub 2022, hdmovieshub 300mb, movies 300mb mkv, movies mkv 300mb, hubflix 300, movies hubflix, allmovieshub in 2023, hubflix 300mb, hd movie hub 300mb, hdmovieshub hubflix, movie hub 300mb, movies hub 300mb, all hdmoviearea, hdmovieshub.in 2019, 300mb movies all movies hub, hubflix com movie"}) %>

<script async="async" data-cfasync="false" src="//offspringthisscarcely.com/a224aeb344eece72bf0ce9ab1fa2fe53/invoke.js"></script>
<div id="native_banner_ad" id="container-a224aeb344eece72bf0ce9ab1fa2fe53"></div>

  <div id="movie_card_container">
    <% const firstEightMovies = moviesTemp.splice(0, 8); %>

    <!-- First section for movies 1-8 -->
    <% firstEightMovies.forEach(movie => { %>
      <div class="section-one">
        <%- include('./partials/movie_card.ejs', { movie }) %>
      </div>
    <% }) %>

    <div class="movie_card">
      <script type="text/javascript">
        atOptions = {
          'key' : '266d5c6f74c869bcc68cc573f407c266',
          'format' : 'iframe',
          'height' : 300,
          'width' : 160,
          'params' : {}
        };
      </script>
      <script type="text/javascript" src="//offspringthisscarcely.com/266d5c6f74c869bcc68cc573f407c266/invoke.js"></script>
    </div>


    <div class="movie_card">
      <script type="text/javascript">
        atOptions = {
          'key' : '266d5c6f74c869bcc68cc573f407c266',
          'format' : 'iframe',
          'height' : 300,
          'width' : 160,
          'params' : {}
        };
      </script>
      <script type="text/javascript" src="//offspringthisscarcely.com/266d5c6f74c869bcc68cc573f407c266/invoke.js"></script>
    </div>
    
    
    <!-- Second section for the rest -->
    <% moviesTemp.forEach(movie => { %>
      <div class="section-rest">
        <%- include('./partials/movie_card.ejs', { movie }) %>
      </div>
    <% }) %>


    <div class="movie_card">
      <script type="text/javascript">
        atOptions = {
          'key' : '266d5c6f74c869bcc68cc573f407c266',
          'format' : 'iframe',
          'height' : 300,
          'width' : 160,
          'params' : {}
        };
      </script>
      <script type="text/javascript" src="//offspringthisscarcely.com/266d5c6f74c869bcc68cc573f407c266/invoke.js"></script>
    </div>


    <div class="movie_card">
      <script type="text/javascript">
        atOptions = {
          'key' : '266d5c6f74c869bcc68cc573f407c266',
          'format' : 'iframe',
          'height' : 300,
          'width' : 160,
          'params' : {}
        };
      </script>
      <script type="text/javascript" src="//offspringthisscarcely.com/266d5c6f74c869bcc68cc573f407c266/invoke.js"></script>
    </div>

</div>

<%- include('./partials/pagination.ejs', {movies,page}) %> 
<%- include('./partials/footer.ejs') %>
